.actions-layout {
  display: grid;
  padding: var(--space-sm);
  grid-gap: var(--space-md);
}

.record-opener {
  display: grid;
  grid-gap: var(--space-sm);
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
}

.record-opener.left {
  grid-template-columns: max-content 1fr;
}

.record-opener.left input[type="text"] {
  width: 100%;
}

.record-opener-label {
  font-weight: bold;
  font-size: 0.85em;
}
