html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --space-thin: 2px;
  --space-sm: 0.25rem;
  --space-md: 0.5rem;
  --space-lg: 1rem;
  --space-xl: 2rem;

  --color-body-text: #322d44;
}

body {
  background: #d9dbf1;
  color: var(--color-body-text);
  font-family: "Salesforce Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.app-layout {
  border: 1px solid var(--color-body-text);
  display: grid;
  padding: var(--space-md);
  grid-gap: var(--space-md);
  width: 32rem;
}

.two-column-grid {
  display: grid;
  padding: var(--space-sm);
  grid-gap: var(--space-sm);
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}
