.button {
  cursor: pointer;
  padding: var(--space-thin) var(--space-sm);
  font-family: "Salesforce Sans", sans-serif;
  font-size: 0.8rem;
}

.button-small {
  font-size: 0.71rem;
  padding: 0 var(--space-thin);
}
