.debug-layout {
  display: grid;
  padding: var(--space-sm);
  grid-gap: var(--space-sm);
  justify-items: start;
}

.codeblock pre {
  font-family: monospace;
  font-size: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 42em;
}
